body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #231955;
    background-image: url(../public/bg.png);
    color: #ffe5b4;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
}

.home h1 {
  font-size: 32px;
  margin: 10px 10px 40px 10px;
}

.home img {
  margin: 0 0 40px 0;
  border-radius: 50%;
}

.home button {
  background-color: #e8aa42;
  border-color: #e8aa42;
  cursor: pointer;
  font-size: larger;
  font-weight: 700;
  margin-left: 5px;
}

.home a {
  text-decoration: none;
  color: #fff;
}

.home button:hover {
  background-color: initial;
}